extends layout

block content
  h1= title
<<<<<<< HEAD
  p Welcome to #{title}. Hi
  button Press me
  button(type="button", class="btn btn-secondary", onclick="update()") Left
  div(id="target") Display

  script. 
    let client_count= 0
    function update() {
      client_count = client_count + 1
      document.getElementById('target').innerText = `Value now ${client_count}`
    }
=======
  p Welcome to #{title}
>>>>>>> 0fc34099030ceb0c9305b3544dc20ec77ac5c435
