extends layout

block content
  h1= title
  - var image_names = ["jacket", "jacket1", "jacket2", "jacket3", "jacket4"]
  - for(let i=0;i<3;i++) {
    - let imageName = image_names[Math.floor(Math.random()*5)]
    img(src=`images/${imageName}.jpg`, alt="image", style="height:300px;width:300px")
  - }
